body{
  background-color: white;
}
h3{
  font-family: cursive;
  color: green;
}
.navbar{
  font-family: Trebuchet MS;
  background-color: #002E94;
}
.menubar{
  background-image: linear-gradient(-90deg,#d38312,#a83279);
}
